

<div style="align-items:center;justify-content: center;align-self:center;width: 650px;">
    <h1 style="text-align: center;color:white;">Centro de Mensajes</h1>
    <input class="form-control" type="text" placeholder="Nombre" id="user"  name="user" aria-label="name-input" style="width: 650px;margin-bottom:15px;"/>
    
    <hr style="height:2px;border-width:0;color:gray;background-color:white">

    <section style="background-color: white;border-radius: 5px;">
        <hr>
        <ul id="chat" style="list-style-type: none;"></ul>
    </section>
    
    <section>
        <input class="form-control" type="text" placeholder="Escriba un mensaje" id="msg"  name="msg" aria-label="name-input" style="width: 650px;margin-bottom:15px;"/>
        <button type="button" onclick="sendMsg()" id="btn" class="btn btn-info" style="width: 650px;">Enviar Mensaje</button>
    </section>
</div>