<div style="display:flex;align-items:center;justify-content: center;align-self:center;width: 650px;">
    <form onsubmit="addProduct()">
        <input class="form-control" type="text" placeholder="Nombre" id="title"  name="title" aria-label="name-input" style="width: 650px;margin-bottom:15px;"/>
        <input class="form-control" type="Precio" placeholder="Precio" id="price" name="price" aria-label="price-input" style="width: 650px;margin-bottom:15px;"/>
        <input class="form-control" type="text" placeholder="Foto URL"  id="thumbnail" name="thumbnail" aria-label="name-input" style="width: 650px;margin-bottom:15px;"/>
        <button type="submit" id="btn" class="btn btn-info" style="width: 650px;">Nuevo Producto</button>
    </form>
</div>
