
<h1 style="text-align: center;color:white;">Vista de Productos</h1>

<section style="margin:auto; margin-bottom: 25px;">
    {{> nuevoForm }}
</section> 

<section style="margin:auto; margin-bottom: 25px;">
    {{>lista}}
</section>

<hr>

<section style="margin:auto; margin-bottom: 25px;">
    {{>chat}}
</section>